{
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "indent": [2, 4, {
      "SwitchCase": 1,
      "MemberExpression": 1
    }],
    "eqeqeq": 0,
    "quotes": [2, "single"],
    "semi": [2, "always"],
    "no-multi-spaces": 2,
    "no-redeclare": 2,
    "no-lonely-if": 2,
    "no-mixed-spaces-and-tabs": [2, "smart-tabs"],
    "newline-per-chained-call": [2, { "ignoreChainWithDepth": 2 }],
    "no-trailing-spaces": [2, { "skipBlankLines": true }],
    "no-unused-vars": [2, { "vars": "all", "args": "none" }]
  }
}